
.cards {
    max-width: 600px;
    position: relative;
}

.burgers {
    width: 600px;
    overflow: scroll;
    position: relative;
    height: 1px;
    min-height: 70%;
    max-height: 80%;
}


.rolls {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}