.container, .componentsOfBurger {
    height: 85%;
    position: relative;
}
.component {
    overflow-y: scroll;
    height: 60%;
}

.component::-webkit-scrollbar {
    width: 8px;
}

.component::-webkit-scrollbar-track {
    background: rgba(47, 47, 55, 1);
}
.component::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(133, 133, 173, 1);
}
@media (min-width: 1450px) {
    .component {
        min-height: 80%;
    }
}