
*{
  margin: 0;
  padding: 0;
}

.App {
  min-height: 300px;
}

.burger {
  max-width: 1280px;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}